files:
  "C:\\Windows\\Temp\\HTTP_redirect.cmd":
    content: |
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /-"[name='HTTP_redirect']" >> log.txt 2>&1 && time /t >> log.txt
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /+"[name='HTTP_redirect',enabled='true',stopProcessing='true']" >> log.txt 2>&1 && time /t >> log.txt
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /"[name='HTTP_redirect'].match.url:"^^(.*)$"" >> log.txt 2>&1 && time /t >> log.txt
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /+"[name='HTTP_redirect'].conditions.[input='{HTTPS}',pattern='^OFF$']" >> log.txt 2>&1 && time /t >> log.txt
      C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/rewrite/rules /"[name='HTTP_redirect'].action.type:"Redirect"" /"[name='HTTP_redirect'].action.url:"https://{SERVER_NAME}{URL}"" >> log.txt 2>&1 && time /t >> log.txt

commands:
  00-http_redirect:
    command: "C:\\Windows\\Temp\\HTTP_redirect.cmd"
