<?xml version="1.0"?>
<configuration>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime executionTimeout="350" maxRequestLength="900000" maxUrlLength="300" maxQueryStringLength="4096"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength, for IIS, in bytes -->
        <requestLimits maxAllowedContentLength="150000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="UserName" value="ciagroup"/>
    <add key="Password" value="!C1g2r3p"/>
  </appSettings>
</configuration>